*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: auto;
}


@-webkit-keyframes fadeAllIn {
	0%, 50% { opacity: 0; -webkit-transform: translate3d(-10px,0,0); transform: translate3d(-10px,0,0); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@keyframes fadeAllIn {
	0%, 50% { opacity: 0; -webkit-transform: translate3d(-10px,0,0); transform: translate3d(-10px,0,0); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

a {
	outline: none;
	color: #eecc99;
	text-decoration: none;
}

a:hover, a:focus { color: #666c7b; }

/* Individual demo styles */

.demo-3 {
	background: transparent;
	color: #333;
	height: 100vh;
	font-family: 'Roboto Condensed', sans-serif;
}

.demo-3::after {
	content: '';
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 20px solid #fff;
}

.demo-3 a { color: #9e9e9e; }
.demo-3 a:hover, .demo-3 a:focus { color: #333; }

/* Helpers */
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Buttons */
.btn {
	background: #eecc99;
	color: inherit;
	border: 0;
	margin: 0;
	display: block;
	padding: 0.5em 1.15em;
	border-radius: 0.3em;
	margin: 1em 0 0;
	font-size: 0.75em;
	font-weight: bold;
	text-transform: capitalize;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn[disabled] {
	opacity: 0.8;
}

.btn:not([disabled]):hover {
	background: #666c7b;
	color: #fff;
}

.btn:focus {
	outline: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Header */
.codrops-header {
	margin: 12vh 0 0 10%;
	padding: 2em;
	position: relative;
}

.actions {
	margin: 1em 0 0 0;
	z-index: 100;
	position: relative;
}

.demo-3 .codrops-header {
	text-align: center;
	position: absolute;
	width: calc(80vw - 5px);
	top: 15vh;
	left: 10vw;
	height: calc(70vh - 5px);
	margin: 5px 0 0 5px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transform: translate3d(0,100px,0);
	transform: translate3d(0,100px,0);
	-webkit-animation: fadeIn 2s ease-out forwards;
	animation: fadeIn 2s ease-out forwards;
}

@-webkit-keyframes fadeIn {
	0%, 40% { opacity: 0; }
	85%, 100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@keyframes fadeIn {
	0%, 40% { opacity: 0; }
	85%, 100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}
.codrops-header__title {
	margin: 0;
	padding: 0 0 0.15em 0;
	font-size: 9vw;
	text-transform: uppercase;
	line-height: 1;
	font-weight: normal;
}

.demo-3 .codrops-header__title {
	font-family: 'Kaushan Script', cusrive;
	text-transform: none;
	font-size: 14vw;
	color: #000;
	margin: 0;
	padding: 0 0 0.35em;
}

.demo-3 .sponsor {
	color: #727272;
}

.codrops-header__tagline {
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.5;
}

/* Top Navigation Style */
.codrops-links {
	display: inline-flex;
	text-align: center;
	white-space: nowrap;
	margin: 1em;
	position: fixed;
	top: 0;
	left: 0;
}

.demo-3 .codrops-links {
	position: relative;
}

.codrops-links::after {
	position: absolute;
	top: 0%;
	left: 50%;
	width: 1px;
	height: 100%;
	background: #ddd;
	content: '';
	-webkit-transform: rotate(22.5deg);
	transform: rotate(22.5deg);
}

.codrops-icon {
	display: block;
	padding: 0.25em 1.5em 0.25em 0;
}

.codrops-icon:last-child {
	padding-right: 0;
}

/* Content */
.content {
	padding: 3em 0;
	position: relative;
}

.dummy {
	width: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	padding: 20px 20px 0 20px;
	height: 15vh;
}

.dummy__icon {
	width: calc(10vw - 20px);
	color: #b0b0b1;
}

@media screen and (min-width: 50em) {
	.actions {
		width: 14.5vw;
		margin: 2em 0 0 19vw;
		position: absolute;
	}
	.content--grid p {
		margin: 0 0 2em;
		width: 20%;
		margin-left: 10%;
		text-align: right;
		position: relative;
	}
	.content--grid p:nth-child(odd) {
		margin-left: 50%;
		text-align: left;
	}
	.content--grid p:nth-child(3n) {
		margin-left: 70%;
		text-align: left;
	}
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 1em;
	}
	.demo-3::after {
		border-width: 10px;
	}

	.dummy {
		padding: 10px 15% 0 15%;
	}
	.dummy__icon {
		width: calc(10vw - 10px);
	}
}
